
<% if notice %>
	<div class="alert alert-success"><%= notice %></div>
<% end %>
<div class="page-header">
	<h1><%= @recipe.name %> <small><%= @recipe.author %>, <%= @recipe.category %></small></h1>
</div>
 
<h3>Instructions <small><%= link_to('Edit', edit_recipe_path(@recipe)) %></small></h3>
<p><%= @recipe.instructions %></p>

<h3>Ingredients</h3>
<%= render @recipe.ingredients %>
</br>
<h3>Add Ingredients:</h3>
<%= render "ingredients/form" %>

<p class="download-info">	  
	  <%= link_to('Save and finish', recipes_path, :class => 'btn btn-primary') %> 	  
	  <%= link_to('Delete recipe', @recipe, confirm: 'Are you sure?', method: :delete, :class => 'btn') %>	 	
	  <%= link_to('Go to dashboard', recipes_path, :class => 'btn') %>
</p>




